@import url('./main-layout.css');
@import url('@fontsource/open-sans/index.css');    html {
      --lumo-border-radius-s: calc(var(--lumo-size-m) / 6);
      --lumo-border-radius-m: calc(var(--lumo-size-m) / 2);
      --lumo-border-radius-l: var(--lumo-size-m);
--lumo-font-family: Open Sans;

    }

    [theme~="dark"] {

    }


.favorite-icon{
    color: gold;
}

.forecast-container {
    background-color: #57777E;
    padding: 10px;
    overflow: scroll;
}
.daily-weather-forecast-container {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1em;
    padding: 5px 0;
    width: 100%;
}

.day-card{
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    min-width: 270px;
    position: relative;
    transition: transform 250ms;
    width: calc(100% / 7);
    cursor: pointer;
}

.day-card:hover {
    transform: translateY(-10px);
}

.day-card-content {
    display: flex;
    flex-direction: column;
    height: calc(100% - 20px);
    justify-content: space-evenly;
    padding: 10px;
}

.day-weather-icon {
    margin-top: 5px;
    font-size: 3.5em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    color: whitesmoke;
    text-align: center;
    padding-left: 10px;
}

.sunny {
    color: #fdd835 !important;
}

.white-text {
    font-size: 0.9em;
    text-transform: uppercase;
    color: #8DF8B7;
    text-align: center;
}

.date {
    font-size: 1.2em;
    color: whitesmoke;
    text-align: center;
    border-bottom: 2px solid whitesmoke;
    padding-bottom: 10px;
    font-weight: bold;
}

.weather-description {
    font-size: 1em;
    color: whitesmoke;
    text-align: center;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

/*Hours forecast*/
.hours-container {
    display:flex;
    flex-direction: column;
}

.single-hour {
    background-color: #68858B;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    margin-bottom: 5px;
    border-radius: 10px;
}

.column {
    display: flex;
    flex-direction: column;
}

.text {
    color: #8DF8B7;
    font-size: 1.2em;
}

.big-text {
    color: #8DF8B7;
    font-size: 1.8em;
}

.time {
    width: 200px;
    text-align: center;
}

.hour-weather-icon {
    margin-top: 5px;
    font-size: 2em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    color: whitesmoke;
    text-align: center;
}

/* Navigation related */

/*a[highlight] {*/
/*    font-weight: bold;*/
/*}*/

/*.nav-container {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/
/*.nav-item {*/
/*    text-align: center;*/
/*    margin-bottom: 2px;*/
/*    border-radius: 5px;*/
/*}*/
/*.nav-text {*/
/*    font-size: 1.5em;*/
/*    color: gray;*/
/*}*/